# Default ignored fileredbot-moduless
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/getnfo/.env
/.idea
/getnfo/iNFEKT/